<div style="align-content: center">
  <h1>Welcome to the about page</h1>
</div>
<div style="margin-bottom: 30px">
  <img src="ruby.png" alt="Ruby on Rails"/>
</div>
<div style="margin-bottom: 30px">
  <%= link_to 'Home', pages_home_path %>
  <p>This is the content</p>
  <p>This is another content</p>
</div>
<div>
  <p>This is the footer</p>
</div>