<div style="align-content: center">
  <h1>Welcome to the home page</h1>
</div>
<div style="margin-bottom: 30px">
  <img src="ruby.png" width="100%" height="300"/>
</div>
<div style="margin-bottom: 30px">
  <%= link_to 'About', pages_about_path %>
  <p>This is the content</p>
  <p>This is another content</p>
</div>
<div>
  <p>This is the footer</p>
</div>